/* Blue-grey Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #0B61A4;
    --primary-hover: #3F92D2;
    --primary-focus: rgba(84, 110, 122, 0.125);
    --primary-inverse: #FFF;
}

/* Blue-grey Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --primary: #0B61A4;
        --primary-hover: #3F92D2;
        --primary-focus: rgba(84, 110, 122, 0.25);
        --primary-inverse: #FFF;
    }
}

/* Blue-grey Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
    --primary: #0B61A4;
    --primary-hover: #3F92D2;
    --primary-focus: rgba(84, 110, 122, 0.25);
    --primary-inverse: #FFF;
}

/* Blue-grey (Common styles) */
:root {
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);
}

/* 定义提示框的样式 */
.custom-alert {
    position: fixed;
    top: -100px;
    width: 40%;
    color: #ffffff;
    background-color: #084c7fc5;
    padding: 10px;
    text-align: center;
    transition: top 0.5s;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
}

h2 {
    margin-top: 20px;
    text-align: center;
}

#lang-select {
    width: 25%
}

button {
    width: 25%
}

#text-box {
    flex: 1;
    width: 80%;
    margin: auto;
}

#text-input,
#text-output {
    flex-grow: 1;
    resize: none;
    bottom: 10%;
    color: #033E6B;
}